body{
    background: #fdeef0;
}
  
#nav-ginlane {
    font-style: oblique;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin: 10px 20px 0px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 1%;
}

.work{
    width: 46%;
    margin: 80px 0px 0px 125px;
    color: #584a4a;
}
.work .title{
    font-size: 100px;
    margin: 0px;  
}
.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 60px;
    justify-content: center;
    margin-top: 200px;
}
.grid-container .text {
    font-size: 30px;
    line-height: 1.5;
    color: ivory;
    margin: -75px 0px;
    text-align: left;
}
.grid-container .text2  {
    /* margin-top: 135px; */
    text-align: left;
    font-size: 18px;
    font-style: italic;
    color: ivory;
    position: relative;
    bottom: -130px;
    
}
.Textbox {
    margin: 60px 0px 155px -15px;
}
/*.grid-container div div{
    margin: 50px 0px 100px 0px;
}*/
.Lay {
    position: absolute;
    text-decoration: none;
    /*position: relative;*/
    height: 100%;
    opacity: 0;
    right: -30px;
    bottom: -21px;
    background-color: mediumslateblue;
    width: 100%;
    height: 100%;
    padding: 155px 30px 155px 30px;
    text-align: center;
}
.grid-item11, .grid-item22, .grid-item33, .grid-item44, .grid-item55, .grid-item66, .grid-item77, .grid-item88, .grid-item99 {
    position: relative;
}
.grid-item1:hover .over1{
    opacity: 1;
}
.grid-item2:hover .over2{
    opacity: 1;
}
.grid-item3:hover .over3{
    opacity: 1;
}
.grid-item4:hover .over4{
    opacity: 1; 
}
.grid-item5:hover .over5{
    opacity: 1;
}
.grid-item6:hover .over6{
    opacity: 1;
}
.grid-item7:hover .over7{
    opacity: 1;
}
.grid-item8:hover .over8{
    opacity: 1;
}
.grid-item9:hover .over9{
    opacity: 1;
}

#grid-subcontainer2 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-gap: 45px;
    margin-left: 120px;
    
}
#grid-subcontainer2 img {
    width: 100%; 
    height: 140px;
}
#grid-container2 h5 {
    margin-left: 140px;  
    margin-bottom: 35px;
}

/* .grid-subcontainer2 .logo1:hover .logo2{
    opacity: 0.2; */

 

#grid-subcontainer2 #logo1:hover ~ a {
    opacity: 0.2;
}


#grid-subcontainer2 #logo2:hover ~ a {
    opacity: 0.2;
}

#grid-subcontainer2 #logo3:hover ~ a {
    opacity: 0.2;
}

#grid-subcontainer2 #logo4:hover ~ a {
    opacity: 0.2;
}

#grid-subcontainer2 #logo5:hover ~ a {
    opacity: 0.2;
}



/*
.image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
   /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    */ 
        /* position: absolute;
    top: 862px;
    bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* height: 100%; */

   /*
    height: 250px;
    width: 32%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .grid-item:hover .overlay {
    opacity: 1;
   
  }
  .grid-item:hover .overlay {
    opacity: 1;
   
  }
  .grid-item:hover .overlay {
    opacity: 1;
   
  }
  */


